*{
    box-sizing: border-box;
}

:root{
    --grey:#848EAD;
    --dark-blue:#293356;
    --light-blue:#A4F3EB;
    --worn-out-blue:#7AEADF;
    --light-grey:#ECF0FB;
    --medium-blue:#24AEA1;
    --bright-blue:#10D8C4;
    --white:#FFFFFF;
    --light-orange:#FF8D68;
    --worn-out-grey:#F9FAFF;
    --worn-out-blue:#CFD8EF;
    --worn-out-orange:#FEEDE8;
    --worn-grey:#BECDFF;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("./images/pattern-circles.svg"), url("./images/bg-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-size:146px 145px, 100% 400px;
    background-position:top 57px center, top;
}

.header-div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:8px;
    margin-top: 89px;
    margin-bottom:64px;
}

.title{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color:var(--dark-blue);
}

.header-div p{
    width:180px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    color:var(--grey);
}

.main-card{
    width:327px;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:34px 0;
    gap:34px;
    margin-bottom:88px;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

.calculate-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

#view-headtitle{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 1.7142857313156128px;
    text-align: center;
    color:var(--grey);
}

#month-price{
    display:flex;
    flex-direction:column-reverse;
    gap:24px;
} 

.slider-range {
    appearance: none;
    width: 279px;
    height: 8px;
    border-radius: 5px;
    background:linear-gradient(90deg, var(--light-blue) 50.00%, var(--light-grey) 25.00%);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }  

.slider-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    border-radius: 20px;
    margin-top: -5px; 
    background-color: var(--bright-blue);
    height: 40px;
    width: 40px;  
    background-image: url("./images/icon-slider.svg");  
    background-repeat:no-repeat;
    background-position: center;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

.monyear-count{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#price-monyear{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.800000011920929px;
    text-align: right;
    color:var(--dark-blue);
}

#mon-mon{
    width:72px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    padding-left:10px;
    color:var(--grey);
}

#year-year{
    width:56px;
    display: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    padding-left:10px;
    color:var(--grey);
}

.switch-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:12px;
}

.span-monthly{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color:var(--grey);
}

.switch {
    position: relative;
    width: 43px;
    height: 22px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }
  
  .switch #slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--worn-out-blue);
    transition: .4s;
    border-radius: 15px;
  }
  
  .switch #slide::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 4px;
    background-color: var(--white);
    transition: .4s;
    border-radius: 20px;
  }
  
  .switch input[type="checkbox"]:checked + #slide {
    background-color: #7AEADF;
  }
  
  .switch input[type="checkbox"]:focus + #slide {
    box-shadow: 0 0 1px var(--worn-out-blue);
  }
  
  .switch input[type="checkbox"]:checked + #slide::before {
    transform: translateX(23px);
  }
  

.span-year{
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color:var(--grey);
}

.span-year::before{
    position: absolute;
    content: "-25%";
    color:var(--light-orange);
    top:-2px;
    left:78px;
    width:41px;
    height:19px;
    background-color: var(--worn-out-orange);
    text-align: center;
    border-radius: 9.5px;
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr{
    width: 100%;
    border-top: 1px solid var(--light-grey);
    height: 1px;
}

.offer-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:33px;
}

.offer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:11px;
}

.check-offer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16.05px;
}

.check-offer img{
    width:7px;
    height:5.04px;
}

.check-offer h3{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color:var(--grey);
}

.trial-button{
    width:170px;
    border-radius:20.5px;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color:var(--worn-grey);
    padding:12px 0;
    background-color: var(--dark-blue);
}

#bt-range{
  width:100%;
}







/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */



@media screen and (min-width:1024px){

    body{
        background-color: var(--worn-out-grey);
    }

    .header-div{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:12px;
        margin-top: 104px;
        margin-bottom:92px;
    }

    .title{
        font-family: 'Manrope', sans-serif;
        font-size: 28px;
        font-weight: 800;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: center;

    }
    
    .header-div p{
        width:367px;
        font-family: 'Manrope', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }

    .main-card{
        width:540px;
        background-color: var(--white);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:40px;
        padding-bottom: 33px;
        gap:34px;
        margin-bottom:137px;
        box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    } 
    
     .calculate-div{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:84px;
        padding-left:48px;
        padding-right:48px;
    }

    
    #view-headtitle{
        width:160px;
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 800;
        line-height: 19px;
        letter-spacing: 2px;
        text-align:center;
    } 

    #bt-range{
        width:444px;
        position:absolute;
        top:95px;
    }

    .slider-range{
        display:inline;
        width: 444px;
        height: 8px;
        border-radius: 5px;
        background: linear-gradient(90deg, var(--light-blue) 50.00%, var(--light-grey) 25.00%);
        outline: none;
        opacity: 0.7;
        transition: .2s;
        transition: opacity .2s;
        appearance: none;
        cursor:pointer;
    }
    
    #price-monyear{
        font-family: 'Manrope', sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 55px;
        letter-spacing: -1px;
        text-align: right;
    }

    #mon-mon{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

    #year-year{
        display:none;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

    .switch-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:16px;
        margin-top:71px;
    }
    
    .span-year::before{
        position: absolute;
        content: "-25% discount";
        color:var(--light-orange);
        top:-2px;
        left:80px;
        width:80px;
        height:19px;
        background-color: var(--worn-out-orange);
        text-align: center;
        border-radius: 9.5px;
        font-family: 'Manrope', sans-serif;
        font-size: 10px;
        font-weight: 800;
        line-height: 14px;
        letter-spacing: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer-button{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:133px;
    }

    .trial-button:hover{
        color:var(--white);
        cursor:pointer;
    }

}


